/.DS_Store
/.~Customer_Segmentation_Vizes__3141.twbr
/Customer_Segmentation_Vizes.twb
/Daily_activity.xlsx
/Ecom_Project_Vizes.twb
/RFM_Seg_monet_value.xlsx
/RFM_Segmentation.xlsx
/RFM_avg.xlsx
/RFM_count.xlsx
/avg_freq.xlsx
/avg_val.xlsx
/churn_count.xlsx
/dow_hour.xlsx
/dow_hour_trend.csv
/dow_hour_wise_trend.xlsx
/ecom_db.session.sql
/funnel_conversion.xlsx
/not_converted_customers.xlsx
/revenue_at_risk.xlsx
/rfm_and_churn.xlsx
/rfm_seg_count.xlsx
/top_brands.xlsx
/top_cat_revenue.xlsx
/total_users.xlsx
db_2.png
dashboard.png
